<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>kts</title>
	</head>
	<body>
		<h1>kts <font size="2">{% now 'Y-m-d' %}</font></h1>
		<a href="{%url 'tasks:list'%}">任务列表</a>
		<hr>
		{% block content %}
		{% endblock %}
		<hr>
		kts 0.1, by yjzeng
	</body>
</html>