{% extends "base.html" %}
{% block content %}
	<h1>{{task.title}}</h1>
	<ul>
		<li>{{task.state}}</li>
		{% for op in task.available_op %}
			<li><a href="{%url 'tasks:convertto' task.id op.identify%}">转{{op.name}}</a></li>
		{% endfor %}
	</ul>
	{% if error_message %}
		<p>{{error_message}}</p>
	{% endif %}
	<form action="{%url 'tasks:edit' task.id%}" method="POST">
		{%csrf_token%}
		<table>
			{{form}}
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" name="" value="保存">
				</td>
			</tr>
		</table>
	</form>
	<ul>
		<li>
			<a href="{%url 'tasks:delete' task.id%}">删除</a>
		</li>
	</ul>
{% endblock %}