{% extends "base.html" %}
{% block content %}
	{% if error_message %}
		<p>{{error_message}}</p>
	{% endif %}
	<form action="{%url 'tasks:importall'%}" method="POST">
		{%csrf_token%}
<table>
<tr>
<td><label>Titles:</label></td>
<td>		<textarea name="titles"></textarea></td>
</tr>
<tr><td></td>
	<td>	<input type="submit" name="" value="添加"></td>
</tr>
</table>
	</form>
{% endblock %}
