{% extends "base.html" %}
{% block content %}
	{% regroup tasks by state as status %}
	<ul>
		<li>
			<form method="POST" action="{%url 'tasks:fastadd' %}">
				{% csrf_token%}
				<input type="text" name="title"><input type="submit" name="">
			</form>
		</li>
		{% for s_tasks in status %}
			<li> {{s_tasks.grouper}}
				<ul>
					{% regroup s_tasks.list by op as ops %}
					{% for op in ops %}
						<li> {{op.grouper|default_if_none:'----' }}
							<ul>
								{% for task in op.list %}
									<li>
										<a href="{% url 'tasks:edit' task.id %}">{{task.title}}</a><font size="1"><i>{{task.alter_op|default_if_none:''}}</i></font>
										{% for op in task.available_op %}
											[<a href="{%url 'tasks:convertto' task.id op.identify%}">{{op.name}}</a>]
										{% endfor %}
									</li>
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
	<ul>
		<li><a href="{% url 'tasks:importall' %}">批量导入</a></li>
		<li><a href="{%url 'tasks:csv'%}{% now 'Ymd' %}.csv">下载csv</a></li>
	</ul>
{% endblock %}